@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libertinus+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #A3BED9;
}

.Titulo {
    margin: 20px;
    display: grid;
    justify-content: center;
}

.Titulo h1 {
    font-family: Vollkorn;
    font-size: 50px;
    font-style: italic;
    color: #285B8F;
}

.estructura {
    display: flex;
    margin: 30px;
    justify-content: center;
    gap: 30px;
}

.container {
    background-color: #D8DFE8;
    width: 500px;
    height: 550px;
    padding: 30px 50px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #355A8F;
}

.container .Lista {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Lista h2 {
    font-family: Exhibición Libertinus Serif;
    font-size: 40px;
    color: #031E42;
}

.Lista input {
    width: 400px;
    height: 28px;
    font-size: 15px;
    font-family: Lato;
    border:2px solid #031E42;
    border-radius: 8px;
    padding-left: 12px;
    color: #000000;
}

input::placeholder {
    color: gray;
}